#!/usr/bin/env bash
set -euo pipefail

export MASTER_IP=$(gcloud compute instances describe k3s-master --zone europe-west1-b --format json | jq -r '.networkInterfaces | .[0].accessConfigs | .[0].natIP')
export NODE1_IP=$(gcloud compute instances describe k3s-node1 --zone europe-west1-d --format json | jq -r '.networkInterfaces | .[0].accessConfigs | .[0].natIP')
