#!/usr/bin/env bash
set -euo pipefail

export MASTER_IP=$(multipass info k3s-master --format yaml | yq r - "k3s-master.[*].ipv4[0]")
export NODE1=$(multipass info k3s-node1 --format yaml | yq r - "k3s-node1.[*].ipv4[0]")
export NODE2=$(multipass info k3s-node2 --format yaml | yq r - "k3s-node2.[*].ipv4[0]")
